@import url('https://fonts.cdnfonts.com/css/crava');

body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 16px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(170, 111, 111);
  color: black;
}

.topnav a.active {
  background-color: rgb(210, 180, 140);
  color: white;
}

#logoImage {
  float: right;
  margin-top: -30px;
}

#searchbar {
  width: 500px;
  border-width: 2px;
  border-style: solid;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbar {
  overflow: visible;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  position: relative;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(170, 111, 111);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 50px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero-section {
  background-image: url('homepage.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  font-family: 'CRAVA', sans-serif;
  text-align: center;
  color: white;
  font-size: 36px;

}

.hero-content h2 {
  margin-top: -120px;
}

.hero-section:hover {
  transform: scale(1.1);
}

/*the button of home page*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer #logoImage {
  margin-bottom: 30px;

}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;

}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;

}

footer p {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;

}

.payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px
}

.copyright {
  flex-shrink: 0;
  text-align: center;

  padding: 10px;
}

footer .contact i {
  padding-right: 4px;
  cursor: pointer;

}

/*Contact Page*/

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span,
#form-details form {
  font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;

}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;

}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 350px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: rgb(157, 100, 46);
  color: #e1e1e1;
}
/*About Page*/
#about-head {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

#about-head .details {
  max-width: 800px;
  margin: 0 auto;
}

#about-head span {
  display: block;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

#about-head h2 {
  font-size: 24px;
  color: #333;
  line-height: 1.5;
}
