form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: RGB(206, 200, 228);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  body {
    font-size: 16px;
    font-family: 'Brush Script MT', cursive;
  }
.mngbutton
{
    background-color: rgba(138, 156, 163, 0.215);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 80px; 
  height: 40px;
}
.mngbutton:hover
{
background-color: gray;
  color: black;
}
.button-container {
    display: flex;
}
.button-container button {
    margin-right: 10px;
}
